<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body id = indexBackground>
<h3>Made by James Park</h3>


<div class = centerData>
  <h1>NYC information map</h1>
  <h2>Income Map</h2>
  <iframe src="\mapBoxIncome" width="50%" height="500px"></iframe>
  <p>The income maps divides New York with multiple borders and holds information on income map. </p>
  <h2>Boro's Map</h2>
  <iframe src="\boroMapBox" width="50%" height="500px"></iframe>
  <p>The boro's maps includes borders within NYC to signify which boro a area in the map is.</p>


  <ul>
    <li> <a href="/mapBoxIncome">Income Map</a> </li>
    <li> <a href="/boroMapBox">Boro's Map</a> </li>
  </ul>

</div>

</body>
</html>
